image: node:18.12.1

pipelines:
  default:
    - parallel:
        # - step:
        #     name: Project Test
        #     caches:
        #       - node
        #     script:
        #       - npm install
        #       - npm test
        - step:
            name: Code linting
            script:
              - npm install eslint
              - npx eslint .
            caches:
              - node
        - step:
            name: Project build
            caches:
              - node
            script:
              - npm install
              - npm build
